{% extends 'backend/layouts/base.html' %}
{% load static %}

{% block styles %}
<!-- Markdown specific styles -->
<link rel="stylesheet" href="{% static 'css/backend.md.css' %}">
{% endblock %}

{% block body %}
<!-- Page title -->
<div class="ui secondary pointing fluid menu">
    <h2 class="ui header">
        {{ team.name }}
        <div class="sub header">
            Home
        </div>
    </h2>
</div>

<!-- Notifications -->
{% include 'backend/partials/notifications.html' %}

<!-- Body -->
<div>
    {{ team.markdown|safe }}
</div>
{% endblock %}
