{% extends 'backend/layouts/base.html' %}

{% block body %}
<!-- Page title -->
<div class="ui secondary pointing fluid menu">
    <h2 class="ui header">
        {{ team.name }}
        <div class="sub header">
            Users
        </div>
    </h2>
</div>

<!-- Notifications -->
{% include 'backend/partials/notifications.html' %}

<!-- Body -->
<div class="row">
    <table class="ui very basic striped celled table">
        <thead>
            <tr>
                <th style="width: 80%;">User</th>
                <th style="width: 20%;">Member Since</th>
            </tr>
        </thead>
        <tbody>
            {% for user in users %}
            <tr>
                <td>{{ user.first_name }} {{ user.last_name }}</td>
                <td>{{ user.member_date|date:"M d, Y" }}</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</div>
{% endblock %}
